.form{
    height: 318px;
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.form div{
    margin: 10px 0;
}
textarea{
    width: 93%;
    height: 60px;
}
.radio-animal-estado input,.label-radio{
    display: block;
    float: left;
}
.form input[type="text"]{
    padding: 10px;
    margin: 10px 0;
}
.sendForm{
    border: none;
    background-color: #ffd60a;
    height: 4rem;
    width: 6rem;
    box-shadow: 0 8px 6px 0 rgb(0 0 0 / 20%);
    color: #fff;
    cursor: pointer;
}
